@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    scroll-behavior: smooth !important;
  }

  .mdx-wrapper {
  }
  p code {
    color: hsl(var(--primary));
    font-weight: normal;
  }

  /* Components within the wrapper (For Blog) */
  .mdx-wrapper code,
  .mdx-wrapper pre,
  .mdx-wrapper kbd {
    font-family: "Courier New", Courier, monospace;
    background-color: #f5f5f5;
    color: hsl(var(--primary));
    padding: 2px 4px;
    border-radius: 4px;
  }

  .mdx-wrapper pre {
    display: block;
    padding: 16px;
    overflow-x: auto;
    border-radius: 4px;
  }

  .mdx-wrapper blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 4px solid #ddd;
    background-color: hsl(var(--background));
    font-style: italic;
  }

  .mdx-wrapper table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .mdx-wrapper th,
  .mdx-wrapper td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }

  .mdx-wrapper th {
    background-color: #f4f4f4;
  }

  .mdx-wrapper ol,
  .mdx-wrapper ul {
    margin: 0;
    padding: 0;
    padding-inline-start: 1.25rem;
  }

  .mdx-wrapper ul {
    list-style-type: disc;
  }

  .mdx-wrapper ol {
    list-style-type: decimal;
  }

  .mdx-wrapper ol li,
  .mdx-wrapper ul li {
    margin-bottom: 8px;
  }

  .mdx-wrapper ul ul,
  .mdx-wrapper ol ol {
    margin: 0;
    padding-left: 20px;
  }

  /* Global Styles within the mdx-wrapper */
  .mdx-wrapper a {
    color: hsl(var(--primary));
    text-decoration: none;
    border-bottom: 1px solid hsl(var(--primary));
    transition: color 0.2s, border-bottom-color 0.2s;
    font-weight: 500;
  }

  .mdx-wrapper a:hover,
  .mdx-wrapper a:focus {
    color: hsl(var(--primary) / calc(100% + 10%));
    opacity: 0.9;
  }

  .mdx-wrapper a:active {
    color: hsl(var(--primary));
  }

  .mdx-wrapper h1,
  .mdx-wrapper h2,
  .mdx-wrapper h3,
  .mdx-wrapper h4,
  .mdx-wrapper h5,
  .mdx-wrapper h6 {
    font-weight: bold;
  }

  .mdx-wrapper h1 {
    font-size: 2.5em;
  }

  .mdx-wrapper h2 {
    font-size: 2em;
  }

  .mdx-wrapper h3 {
    font-size: 1.75em;
  }

  .mdx-wrapper h4 {
    font-size: 1.5em;
  }

  .mdx-wrapper h5 {
    font-size: 1.25em;
  }

  .mdx-wrapper h6 {
    font-size: 1em;
  }
  /* In your CSS file */
  .mdx-wrapper .block,
  .mdx-wrapper .frame,
  .mdx-wrapper label,
  .mdx-wrapper p,
  .mdx-wrapper table {
    padding: 0px;
  }

  .mdx-wrapper blockquote {
    padding: 1rem;
  }

  .mdx-wrapper input:checked {
    background-color: red;
  }

  /* Add any other styles you need */
}
